
<ng-select   *ngIf="!loading"
[items]="items"
[loading]="custLoading"
bindLabel="name"
[minTermLength]="1"
[loading]="custLoading"
[trackByFn]="apiService.NgSelecttrackByFn"
[typeahead]="custTypeahead"
(change)="setNewItem($event)"
(clear)="selectedItem={};"
[(ngModel)]="selectedItem">

<ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
  <div style="margin: 2px 0px;" class="card" *ngIf="item?.name">
      <div style="white-space: normal;">
          <ion-card-subtitle style="color: black;"><b>#{{item?.idseq}} : {{item.name}}</b></ion-card-subtitle>
          <span style="font-size: small;" *ngIf="item?.address_1"> <b>Office : </b>{{item?.address_1 ? item?.address_1 +',': '' }}{{item?.address_2 ? item?.address_2 + ',': ''}}{{item?.district ? item?.district + '':''}}</span>
          <span style="font-size: small;" *ngIf="item?.operating_address_1"><br><b>Operating : </b>{{item?.operating_address_1 ? item?.operating_address_1 + ',' : ''}}{{item?.operating_address_2 ? item?.operating_address_2 + ',' : ''}}{{item?.operating_district ? item?.operating_district + '' : ''}}</span>
          <span style="font-size: small;font-weight: bold;" *ngIf="item?.customer_group?.idseq"><br>GROUP : #{{item?.customer_group?.idseq}} : {{item?.customer_group?.name}}</span>
      </div>
  </div>
</ng-template>

<ng-template ng-typetosearch-tmp>
  <div class="ng-option disabled">
      Start typing...
  </div>
</ng-template>

</ng-select>
