<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Customers</ion-title>
    <ion-buttons color=primary slot=end >
      <ion-button color="primary" (click)="presentAddeditModal({})">+ Add</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-row class="nopaddingrow searchfilterrow">
    <ion-col size=6> </ion-col>
    <ion-col size=6 class="">
      <div class="flexcentercenter">
      <ion-searchbar placeholder="Name, Email" name="q" [(ngModel)]="filtermodel.q" (ionChange)="filter()"></ion-searchbar>
      <ion-button class="button_add" color="primary" (click)="presentBulkUpload({})">Bulk Upload</ion-button>

      <ion-button class="button_add" color="primary" (click)="presentAddeditModal({})" *ngIf="authService.checkPermission('customer_add')">Add Customer</ion-button>
    </div>
    </ion-col>

  </ion-row>
  <ngx-datatable
  class="material"
  [columnMode]="'force'"
    [externalPaging]="true"
    [count]="pagination.count"
    [offset]="pagination.offset"
    [limit]="pagination.limit"
    [rows]="items"
    (page)="pageCallback($event)"
    [scrollbarH]="true"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
  >

  <ngx-datatable-column name="Name" >
    <ng-template let-row="row"  ngx-datatable-cell-template>
      #{{row?.idseq}}<br>
      {{row?.name}}<br>
      {{row?.email}}<br>
      {{row?.mobile}}<br>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Office Address">
    <ng-template let-row="row"  ngx-datatable-cell-template>
      {{row?.address_1 ? row?.address_1 +',': '' }}
      {{row?.address_2 ? row?.address_2 +',' : ' ' }}
       {{row?.postalcode ? row?.postalcode: ' ' }}
       <!-- {{row?.address_pincode ? row?.address_pincode : ' ' }} -->
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Operating Address">
    <ng-template let-row="row"  ngx-datatable-cell-template>
      {{row?.operating_address_1 ? row?.operating_address_1 + ',': '' }}
      {{row?.operating_address_2 ? row?.operating_address_2  +',': ' ' }}
       {{row?.operating_postalcode ? row?.operating_postalcode +'': ' ' }}
       <!-- {{row?.address_pincode ? row?.address_pincode : ' ' }}     -->
      </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Executive"  >
    <ng-template let-row="row"  ngx-datatable-cell-template>
      {{row?.executive?.name}}<br>
      <span>Created At : {{row?.createdAt | date}}</span><br>
      <span>Updated At : {{row?.updatedAt | date}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="30" [frozenRight]="true" *ngIf="authService.checkPermission('customer_edit')">
    <ng-template let-row="row"  ngx-datatable-cell-template >
    <div class="tableactions">
      <span (click)="presentAddeditModal(row)" title="Edit"  > <ion-icon name="create-outline"></ion-icon> </span>
    </div>
    </ng-template>
  </ngx-datatable-column>

  </ngx-datatable>

</ion-content>
