ion-list{
    margin:-10px;
}
ion-icon{
    margin-right:15px;
}
.rightarrow{display: none;margin-right:0px}
.selected{
    font-weight: bold;
    --background	: rgba(202,202,202,.3);
     
    ion-icon{
         color:var(--ion-color-primary); 
    }
    .rightarrow{
        display: inline;
    }
} 