.loginsignupcard {
    padding:20px;
    text-align: center;
    margin:20px;
    ion-slides {
        width: 100%;
    }
    ion-slide form {
        width: 100%;
    }
}

.paddiv {

    text-align: center;
    margin:0px auto;
    margin-top: 5%;
    max-width:400px;
}

ion-content{
background: none;
--background: none;
}


