<ion-header>
  <ion-toolbar>
    <ion-title>Roles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="nopaddingrow searchfilterrow">
    <ion-col size=8> </ion-col>
    <ion-col size=4 class="">
      <div class="flexcentercenter">
      <ion-searchbar placeholder="Name"[(ngModel)]="filtermodel.q" (ionChange)="filter()"></ion-searchbar>
      <ion-button class="button_add" color="primary" (click)="presentAddeditModal({})" *ngIf="authService.checkPermission('role_add')">Add Role</ion-button>
    </div>
    </ion-col>

  </ion-row>


  <ngx-datatable
  class="material"
  [columnMode]="'force'"
    [externalPaging]="true"
    [count]="pagination.count"
    [offset]="pagination.offset"
    [limit]="pagination.limit"
    [rows]="items"
    (page)="pageCallback($event)"
    [scrollbarH]="true"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
  >

  <ngx-datatable-column name="Name" >
    <ng-template let-row="row"  ngx-datatable-cell-template>

      <b> {{row?.name}}</b>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Discount Limit"  >
    <ng-template let-row="row"  ngx-datatable-cell-template>
      {{row?.discount_limit}}%
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="ATI Limit"  >
    <ng-template let-row="row"  ngx-datatable-cell-template>
      {{row?.ati_limit | number:'1.2-2':'en-US'}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Actions" [width]="30" [frozenRight]="true" *ngIf="authService.checkPermission('role_edit')">
    <ng-template let-row="row"  ngx-datatable-cell-template >
    <div class="tableactions">
      <span (click)="presentAddeditModal(row)" title="Edit"> <ion-icon name="create-outline"></ion-icon> </span>
    </div>
    </ng-template>
  </ngx-datatable-column>

  </ngx-datatable>


</ion-content>
